* {
  margin: 0;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "Comfortaa_Bold";
  font-display: swap;
  src: url("style/");
  src: local("O"), url("style/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype"), url("style/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("style/");
  src: local("O"), url("style/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype"), url("style/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.start {
  background-color: #252420;
  position: absolute;
  width: 100%;
  height: 753px;
}

.calculator {
  width: 400px;
  height: 500px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 100px;
  border-radius: 10px;
  margin-left: 900px;
  font-family: "Source Sans Pro", sans-serif;
}

/* <header> */
header {
  background-color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;
  text-align: right;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.accont {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: right;
  border: none;
  background-color: black;
  color: white;
}
.accont:focus {
  outline: none;
}

.accont::-webkit-input-placeholder {
  color: #833ab4;
}

.accont::-moz-placeholder {
  color: #833ab4;
}

.accont:-ms-input-placeholder {
  color: #833ab4;
}

.accont::-ms-input-placeholder {
  color: #833ab4;
}

.accont::placeholder {
  color: #833ab4;
}

.result {
  width: 100%;
  text-align: right;
  font-size: 60px;
  background-color: black;
  font-family: "Noto Serif", serif;
  border: none;
  color: white;
}
.result:focus {
  outline: none;
}

.result::-webkit-input-placeholder {
  color: white;
}

.result::-moz-placeholder {
  color: white;
}

.result:-ms-input-placeholder {
  color: white;
}

.result::-ms-input-placeholder {
  color: white;
}

.result::placeholder {
  color: white;
}

/* </header>*/
/* <main> */
main {
  display: table;
  margin-top: -35px;
  margin-top: -51px;
}
main .btn {
  width: 100px;
  height: 80px;
  font-size: 20px;
  color: black;
  border: none;
}
main .btn:focus {
  outline: none;
}
main .btn:hover {
  border-bottom: 0, 1px solid #b52e76;
}
main .btn:nth-child(17) {
  border-bottom-left-radius: 10px;
}
main .btn-result {
  border-bottom-right-radius: 10px;
  border: none;
  width: 200px;
  height: 80px;
  position: absolute;
  font-size: 45px;
  background-color: #8A2BE2;
  color: white;
}
main .btn-result:focus {
  outline: none;
}
main .color {
  background-color: #EE82EE;
  color: white;
  font-size: 20px;
}

.btn:hover,
.btn-result:hover,
.color:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/* backspace */
.clean {
  border: none;
  margin-bottom: -20px;
  margin-top: 35px;
}
.clean .backspace {
  height: 1px;
}

/* </main> */
.bak {
  margin-top: -37px;
  margin-left: -10px;
  padding-top: 30px;
}
.bak:focus {
  outline: none;
}
.bak:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.text .start_text {
  color: white;
  position: absolute;
  font-size: 60px;
  margin-left: 320px;
  margin-top: 100px;
  font-family: "Comfortaa_Bold";
  text-shadow: 0 0 10px #EE82EE, 0 0 20px #EE82EE, 0 0 40px #EE82EE, 0 0 80px #EE82EE, 0 0 100px #EE82EE;
}
.text .continu {
  color: white;
  position: absolute;
  margin-left: 200px;
  margin-top: 230px;
  font-size: 18px;
  font-family: "Comfortaa";
  width: 610px;
}
.text .end_text {
  color: white;
  position: absolute;
  margin-left: 200px;
  margin-top: 420px;
  font-size: 18px;
  font-family: "Comfortaa";
  width: 610px;
}
.text .old {
  color: white;
  position: absolute;
  margin-left: 300px;
  margin-top: 540px;
  font-size: 18px;
  font-family: "Comfortaa";
  width: 610px;
  text-decoration: line-through;
}

.first_prompt {
  background-color: #171716;
  position: absolute;
  margin-top: 750px;
  width: 100%;
  height: 753px;
}
.first_prompt .prompt {
  color: white;
  position: absolute;
  font-size: 40px;
  margin-left: 610px;
  margin-top: 70px;
  font-family: "Comfortaa_Bold";
  text-shadow: 0 0 10px #EE82EE, 0 0 20px #EE82EE, 0 0 40px #EE82EE, 0 0 30px #EE82EE, 0 0 100px #EE82EE;
}
.first_prompt .p1 {
  color: white;
  font-family: "Comfortaa";
  font-size: 90px;
  position: absolute;
  margin-top: 170px;
  margin-left: 700px;
}
.first_prompt .p3 {
  color: white;
  font-family: "Comfortaa";
  font-size: 100px;
  position: absolute;
  margin-top: 200px;
  margin-left: 715px;
}
.first_prompt .p4 {
  color: white;
  font-family: "Comfortaa";
  font-size: 90px;
  position: absolute;
  margin-top: 208px;
  margin-left: 716.5px;
}
.first_prompt .p5 {
  color: white;
  font-family: "Comfortaa";
  font-size: 80px;
  position: absolute;
  margin-top: 280px;
  margin-left: 720px;
}
.first_prompt .p6 {
  color: white;
  font-family: "Comfortaa";
  font-size: 60px;
  position: absolute;
  margin-top: 340px;
  margin-left: 735px;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}
.first_prompt .p7 {
  color: white;
  font-family: "Comfortaa";
  font-size: 50px;
  position: absolute;
  margin-top: 340px;
  margin-left: 740px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.first_prompt .p8 {
  color: white;
  font-family: "Comfortaa";
  font-size: 80px;
  position: absolute;
  margin-top: 346px;
  margin-left: 738px;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}
.first_prompt .end {
  color: white;
  font-family: "Comfortaa";
  font-size: 20px;
  position: absolute;
  margin-top: 600px;
  margin-left: 430px;
}

.second_prompt {
  background-color: #252420;
  position: absolute;
  margin-top: 1500px;
  width: 100%;
  height: 753px;
}
.second_prompt .prompt {
  color: white;
  position: absolute;
  font-size: 40px;
  margin-left: 600px;
  margin-top: 70px;
  font-family: "Comfortaa_Bold";
  text-shadow: 0 0 10px #EE82EE, 0 0 20px #EE82EE, 0 0 40px #EE82EE, 0 0 30px #EE82EE, 0 0 100px #EE82EE;
}
.second_prompt .our {
  position: absolute;
}
.second_prompt .our .p1 {
  color: white !important;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 610px;
  margin-top: 200px;
  font-size: 60px;
}
.second_prompt .our .p2 {
  color: #252420;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 710px;
  margin-top: 250px;
  font-size: 60px;
}
.second_prompt .our .p3 {
  color: white;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 625px;
  margin-top: 290px;
  font-size: 60px;
}
.second_prompt .our .p4 {
  color: #252420;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 710px;
  margin-top: 350px;
  font-size: 60px;
}
.second_prompt .our .p5 {
  color: white;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 640px;
  margin-top: 400px;
  font-size: 60px;
}
.second_prompt .our .p6 {
  color: #252420;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 710px;
  margin-top: 460px;
  font-size: 60px;
}
.second_prompt .our .p7 {
  color: white;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 610px;
  margin-top: 500px;
  font-size: 60px;
}
.second_prompt .our .p8 {
  color: #252420;
  font-family: "Comfortaa";
  position: absolute;
  margin-left: 730px;
  margin-top: 580px;
  font-size: 60px;
}
.second_prompt .P1 {
  color: #252420;
  position: absolute;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 100px;
  font-family: "Comfortaa_Bold";
  width: 300px;
  text-align: center;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.second_prompt .P2 {
  color: #252420;
  position: absolute;
  font-size: 40px;
  margin-left: 950px;
  margin-top: 500px;
  font-family: "Comfortaa_Bold";
  width: 300px;
  text-align: center;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.third_prompt {
  background-color: #171716;
  position: absolute;
  margin-top: 2250px;
  width: 100%;
  height: 753px;
}
.third_prompt .prompt {
  color: white;
  position: absolute;
  font-size: 40px;
  margin-left: 600px;
  margin-top: 70px;
  font-family: "Comfortaa_Bold";
  text-shadow: 0 0 10px #EE82EE, 0 0 20px #EE82EE, 0 0 40px #EE82EE, 0 0 30px #EE82EE, 0 0 100px #EE82EE;
}
.third_prompt .p1 {
  font-family: "Comfortaa";
  color: white;
  font-size: 25px;
  width: 490px;
  margin-left: 480px;
  margin-top: 180px;
  text-align: center;
}
.third_prompt .p2 {
  font-family: "Comfortaa_Bold";
  color: white;
  font-size: 150px;
  margin-left: 700px;
  margin-top: 0px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.third_prompt .img1 {
  position: absolute;
  margin-left: 750px;
  margin-top: 150px;
}
.third_prompt .img2 {
  position: absolute;
  margin-left: 450px;
  margin-top: 150px;
}

.fourth_prompt {
  background-color: #252420;
  position: absolute;
  margin-top: 3000px;
  width: 100%;
  height: 390px;
}
.fourth_prompt .prompt {
  color: white;
  position: absolute;
  font-size: 40px;
  margin-left: 600px;
  margin-top: 70px;
  font-family: "Comfortaa_Bold";
  text-shadow: 0 0 10px #EE82EE, 0 0 20px #EE82EE, 0 0 40px #EE82EE, 0 0 30px #EE82EE, 0 0 100px #EE82EE;
}
.fourth_prompt .p1 {
  color: white;
  position: absolute;
  font-family: "Comfortaa";
  font-size: 25px;
  margin-left: 515px;
  margin-top: 200px;
}
.fourth_prompt .p2 {
  color: white;
  position: absolute;
  font-family: "Comfortaa";
  font-size: 50px;
  margin-left: 600px;
  margin-top: 250px;
}
.fourth_prompt img {
  width: 200px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  margin-left: 100px;
  margin-top: -50px;
}

@media (max-width: 600px) {
  .start {
    width: 1011px !important;
    height: 1250px !important;
  }
  .start .calculator {
    margin-top: 630px !important;
    margin-left: 300px !important;
  }

  .text .start_text {
    margin-left: 380px;
  }
  .text .continu {
    font-size: 20px;
    margin-left: 240px;
  }
  .text .end_text {
    font-size: 20px;
    margin-left: 240px;
    margin-top: 450px;
  }
  .text .old {
    font-size: 20px;
    margin-left: 320px;
    margin-top: 550px;
  }

  .first_prompt {
    margin-top: 1249px;
    width: 1011px;
    height: 530px;
  }
  .first_prompt .prompt {
    margin-left: 380px;
  }
  .first_prompt .p1 {
    margin-left: 480px;
  }
  .first_prompt .p3 {
    margin-left: 495px;
  }
  .first_prompt .p4 {
    margin-left: 496px;
  }
  .first_prompt .p5 {
    margin-left: 500px;
  }
  .first_prompt .p6 {
    margin-left: 515px;
  }
  .first_prompt .p7 {
    margin-left: 520px;
  }
  .first_prompt .p8 {
    margin-left: 517px;
  }
  .first_prompt .end {
    margin-left: 240px;
    margin-top: 460px;
  }

  .second_prompt {
    margin-top: 1778px;
    width: 1011px;
  }
  .second_prompt .P1 {
    margin-left: 40px;
    margin-top: 150px;
  }
  .second_prompt .P2 {
    margin-left: 670px;
  }
  .second_prompt .prompt {
    margin-left: 380px;
  }
  .second_prompt .our .p1 {
    margin-left: 400px;
  }
  .second_prompt .our .p2 {
    margin-left: 500px;
  }
  .second_prompt .our .p3 {
    margin-left: 420px;
  }
  .second_prompt .our .p4 {
    margin-left: 510px;
  }
  .second_prompt .our .p5 {
    margin-left: 430px;
  }
  .second_prompt .our .p6 {
    margin-left: 500px;
  }
  .second_prompt .our .p7 {
    margin-left: 405px;
  }
  .second_prompt .our .p8 {
    margin-left: 500px;
  }

  .third_prompt {
    margin-top: 2530px;
    width: 1011px;
  }
  .third_prompt .prompt {
    margin-left: 380px;
  }
  .third_prompt .p1 {
    margin-left: 270px;
  }
  .third_prompt .p2 {
    margin-left: 500px;
  }
  .third_prompt .img1 {
    margin-left: 540px;
  }
  .third_prompt .img2 {
    margin-left: 250px;
  }

  .fourth_prompt {
    margin-top: 3280px;
    width: 1011px;
  }
  .fourth_prompt .prompt {
    margin-left: 380px;
  }
  .fourth_prompt .p1 {
    margin-left: 250px;
    font-size: 30px;
  }
  .fourth_prompt .p2 {
    margin-left: 390px;
    margin-top: 270px;
  }
  .fourth_prompt img {
    width: 160px;
    margin-top: 30px;
    margin-left: 45px;
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
}
@media (min-width: 603px) and (max-width: 1100px) {
  .start {
    width: 1024px;
    height: 1250px;
  }
  .start .calculator {
    margin-top: 630px;
    margin-left: 300px;
  }

  .text .start_text {
    margin-left: 380px;
    margin-top: 60px;
  }
  .text .continu {
    font-size: 20px;
    margin-left: 240px;
    margin-top: 180px;
  }
  .text .end_text {
    font-size: 20px;
    margin-left: 240px;
    margin-top: 400px;
  }
  .text .old {
    font-size: 20px;
    margin-left: 310px;
    margin-top: 520px;
  }

  .first_prompt {
    margin-top: 1249px;
    width: 1024px;
    height: 530px;
  }
  .first_prompt .prompt {
    margin-left: 380px;
  }
  .first_prompt .p1 {
    margin-left: 480px;
  }
  .first_prompt .p3 {
    margin-left: 495px;
  }
  .first_prompt .p4 {
    margin-left: 496px;
  }
  .first_prompt .p5 {
    margin-left: 500px;
  }
  .first_prompt .p6 {
    margin-left: 515px;
  }
  .first_prompt .p7 {
    margin-left: 520px;
  }
  .first_prompt .p8 {
    margin-left: 517px;
  }
  .first_prompt .end {
    margin-left: 240px;
    margin-top: 460px;
  }

  .second_prompt {
    margin-top: 1778px;
    width: 1024px;
  }
  .second_prompt .P1 {
    margin-left: 40px;
    margin-top: 150px;
  }
  .second_prompt .P2 {
    margin-left: 670px;
  }
  .second_prompt .prompt {
    margin-left: 380px;
  }
  .second_prompt .our .p1 {
    margin-left: 400px;
  }
  .second_prompt .our .p2 {
    margin-left: 500px;
  }
  .second_prompt .our .p3 {
    margin-left: 420px;
  }
  .second_prompt .our .p4 {
    margin-left: 510px;
  }
  .second_prompt .our .p5 {
    margin-left: 430px;
  }
  .second_prompt .our .p6 {
    margin-left: 500px;
  }
  .second_prompt .our .p7 {
    margin-left: 405px;
  }
  .second_prompt .our .p8 {
    margin-left: 500px;
  }

  .third_prompt {
    margin-top: 2530px;
    width: 1024px;
  }
  .third_prompt .prompt {
    margin-left: 380px;
  }
  .third_prompt .p1 {
    margin-left: 250px;
  }
  .third_prompt .p2 {
    margin-left: 470px;
    margin-top: -20px;
  }
  .third_prompt .img1 {
    margin-left: 530px;
    margin-top: 120px;
  }
  .third_prompt .img2 {
    margin-left: 220px;
    margin-top: 120px;
  }

  .fourth_prompt {
    margin-top: 3280px;
    width: 1024px;
  }
  .fourth_prompt .prompt {
    margin-left: 380px;
  }
  .fourth_prompt .p1 {
    margin-left: 250px;
    font-size: 30px;
  }
  .fourth_prompt .p2 {
    margin-left: 390px;
    margin-top: 270px;
  }
  .fourth_prompt img {
    width: 160px;
    margin-top: 30px;
    margin-left: 45px;
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
}
@media (min-width: 1010px) and (max-width: 1407px) {
  .start {
    width: 1600px;
    height: 1500px;
  }
  .start .calculator {
    margin-top: 900px;
    margin-left: 600px;
  }
  .start .calculator .accont {
    font-size: 25px;
  }
  .start .calculator main .btn {
    font-size: 40px;
  }

  .text .start_text {
    margin-left: 660px;
    margin-top: 58px;
    font-size: 70px;
  }
  .text .continu {
    font-size: 35px;
    margin-left: 300px;
    margin-top: 250px;
    width: 1100px;
  }
  .text .end_text {
    font-size: 35px;
    margin-left: 300px;
    margin-top: 600px;
    width: 1100px;
  }
  .text .old {
    font-size: 30px;
    margin-left: 500px;
    margin-top: 800px;
  }

  .first_prompt {
    margin-top: 1500px;
    width: 1600px;
    height: 530px;
  }
  .first_prompt .prompt {
    margin-left: 660px;
  }
  .first_prompt .p1 {
    margin-left: 750px;
  }
  .first_prompt .p3 {
    margin-left: 759px;
  }
  .first_prompt .p4 {
    margin-left: 760px;
  }
  .first_prompt .p5 {
    margin-left: 770px;
  }
  .first_prompt .p6 {
    margin-left: 785px;
  }
  .first_prompt .p7 {
    margin-left: 790px;
  }
  .first_prompt .p8 {
    margin-left: 790px;
  }
  .first_prompt .end {
    margin-left: 360px;
    margin-top: 460px;
    font-size: 30px;
  }

  .second_prompt {
    margin-top: 2025px;
    width: 1600px;
  }
  .second_prompt .P1 {
    margin-left: 200px;
    margin-top: 150px;
  }
  .second_prompt .P2 {
    margin-left: 900px;
  }
  .second_prompt .prompt {
    margin-left: 660px;
  }
  .second_prompt .our .p1 {
    margin-left: 650px;
  }
  .second_prompt .our .p2 {
    margin-left: 750px;
  }
  .second_prompt .our .p3 {
    margin-left: 670px;
  }
  .second_prompt .our .p4 {
    margin-left: 760px;
  }
  .second_prompt .our .p5 {
    margin-left: 685px;
  }
  .second_prompt .our .p6 {
    margin-left: 750px;
  }
  .second_prompt .our .p7 {
    margin-left: 670px;
  }
  .second_prompt .our .p8 {
    margin-left: 750px;
  }

  .third_prompt {
    margin-top: 2770px;
    width: 1600px;
  }
  .third_prompt .prompt {
    margin-left: 660px;
  }
  .third_prompt .p1 {
    margin-left: 450px;
    font-size: 35px;
    width: 700px;
  }
  .third_prompt .p2 {
    margin-left: 770px;
    margin-top: -20px;
  }
  .third_prompt .img1 {
    margin-left: 830px;
    margin-top: 120px;
  }
  .third_prompt .img2 {
    margin-left: 520px;
    margin-top: 120px;
  }

  .fourth_prompt {
    margin-top: 3500px;
    width: 1600px;
  }
  .fourth_prompt .prompt {
    margin-left: 660px;
  }
  .fourth_prompt .p1 {
    margin-left: 500px;
    font-size: 35px;
  }
  .fourth_prompt .p2 {
    margin-left: 650px;
    margin-top: 270px;
  }
  .fourth_prompt img {
    width: 160px;
    margin-top: 30px;
    margin-left: 200px;
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
}